__pycache__/
*.pyc
*.pyo
*.egg-info/
.torch/
.venv/
inputs
outputs/
wandb/
logs/*.log
.ruff_cache/
*.lock
*.ckpt
*.zip
*.pt
*.pth
!gem/datasets/rich/resource/cam2params.pt
scripts/train_slurm.py
scripts/slurm_init.local.sh
examples/
data/
!tools/data/
!tools/data/aistpp/
!tools/data/aistpp/*.py
!tests/data/
!tests/data/**/*.py
